# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [12]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [25]:
pokemon = pd.read_csv(r"C:\Users\HP\Documents\IronHack\Bootcamp\IronHackLessons\Week5\LAB two sample hyp test\pokemon.csv")

Let's start off by looking at the `head` function in the cell below.

In [26]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [49]:
display(pokemon.pivot_table(index=["Legendary"], values=["Name"], aggfunc={"count"}))


"""
# OR
legendary = len(pokemon[pokemon["Legendary"]==True])
non_legendary = len(pokemon[pokemon["Legendary"]==False])

print(f"Legendary:{legendary}  Non-Legendary:{non_legendary}")

"""

           Name
          count
Legendary
False       735
True         65

'\n# OR\nlegendary = len(pokemon[pokemon["Legendary"]==True])\nnon_legendary = len(pokemon[pokemon["Legendary"]==False])\n\nprint(f"Legendary:{legendary}  Non-Legendary:{non_legendary}")\n\n'

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [59]:
pokemon.pivot_table(index=["Legendary"], values=["Name","Total"], aggfunc={"mean","std"})

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [56]:
import scipy.stats as st

total_leg = pokemon[pokemon["Legendary"]==True]["Total"]
total_non_leg = pokemon[pokemon["Legendary"]==False]["Total"]

st.ttest_ind(total_leg, total_non_leg, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# H0: Total of non-leg pokemon = Total of leg pokemon
# H1: Total of non-leg pokemon != Total of leg pokemon

# P-value is low, so we reject H0 that the 2 are similar/equal. So, there's a diff between the 2 sample means

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [78]:
pokemon.pivot_table(columns=["Type 1"], aggfunc={"Type 1":"count"})

# pokemon["Type 1"].value_counts()

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,69,31,32,44,17,27,52,4,32,70,32,24,98,28,57,44,27,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [84]:
water_mean = pokemon[pokemon["Type 1"]=="Water"]["Total"].mean()
water_std = pokemon[pokemon["Type 1"]=="Water"]["Total"].std()
print(f"Water pokemon:  Mean:{water_mean}   STD:{water_std}")


others_mean = pokemon[pokemon["Type 1"]!="water"]["Total"].mean()
others_std = pokemon[pokemon["Type 1"]!="water"]["Total"].std()
print(f"Other pokemon:  Mean:{others_mean}   STD:{others_std}")

Water pokemon:  Mean:430.45535714285717   STD:113.18826606431458
Other pokemon:  Mean:435.1025   STD:119.963039755519

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [89]:
#H0 : Total of water pokemon = Total of all others pokemon
#H1 : Total of water pokemon != Total of all others pokemon

st.ttest_ind(pokemon[pokemon["Type 1"]=="Water"]["Total"], pokemon[pokemon["Type 1"]!="Water"]["Total"], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# We dont reject H0, P-value is large. So, there's not much diff between the sample means

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [91]:
st.ttest_rel(pokemon["Defense"], pokemon["Attack"])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [93]:
# H0: Def = Atk 
# H1: Def != Atk

# we reject H0, so Def & Atk have diff between them

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [96]:
st.ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# H0: mean_spDef = mean_spAtk 
# H1: mean_spDef != mean_spAtk

# we dont reject H0, so there's no significant diff between their means

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [97]:
# H0: diff between means = 0
# H1: diff between means != 0

st.ttest_1samp(pokemon["Defense"]-pokemon["Attack"],0)

# we reject H0, so there's a significant diff between their means

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [106]:
table = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=="water")

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [107]:
st.chi2_contingency(table)

(0.0,
 1.0,
 0,
 array([[735.],
        [ 65.]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: